{% extends 'base.html.twig' %}
    
           {% block content %}

            <div class="container">

     {% if app.session.get('email') %}

     <h3>Bienvenue {{app.session.get('prenom') | capitalize }}</h3>


      {% if produit_vba_user_liste is not empty %}

     {% set nombre_outils = produit_vba_user_liste|length %}

      <h6><a href="{{path('voir_outil_vba_user')}}">Voir mes outils ({{ nombre_outils }})</a></h6><br/>

      {% endif %}
   
    {% endif %} 
            



    <span style="margin:auto"> {{notification}}</span>

  
             <div class="row row-cols- row-cols-md-3 g-4" style="margin-right:20px">         

                        {% for produit_vba in produit_vba %}  

                                                <div class="card h-100" style="width: 361.818182px; margin-right:20px;" style="height:336px">
                                                  
                                                              <img src="{{ asset('uploads/' ~ produit_vba.image) }}" style="height:336px" class="card-img-top"  alt="...">
                                                          
                                                              <!--   <img src="{{ asset('assets/images/business.jpg') }}" class="card-img-top" alt="..."> -->

                                                                         <div class="card-body">
                                                                                  <h5 class="card-title">{{ produit_vba.nomoutil | capitalize }}</h5>
                                                                                  <p class="card-text">{{ produit_vba.description | slice(0, 100) ~ '...' }}</p>                    
                                                                         </div>

                                                                          <div class="card-footer">
                                                                                  <a href=" {{path('outils_qhse_vba_detail',{'id':produit_vba.id})}}" class="btn btn-primary">Voir détails</a>
                                                                                  <small class="text-body-secondary">
                                                                                  {% if produit_vba.Prix == 0 %}                                                                                          
                                                                                  Téléchargement gratuit                                                                                          
                                                                                  {% else %}                                                                                          
                                                                                      {{ produit_vba.Prix }}€ 
                                                                                      {% endif %}                                                                                          
                                                                                      </small> 
                                                                          </div>
                                               </div> 

                                                        
                           
                            

                     {% endfor %}

           </div>




{% endblock %}