{% extends 'base.html.twig' %}

 {% block content %}
                            <div class="container">

                                     

                                        <div class="row">

                                           <span style="text-align:center"> {{notification}} </span>
                                                    
                                       
                                        {% for liste_outil_web in liste_outil_web %}   

                                                    <div class="col-md-6 my-auto">
                                                                <div class="col-md-12">

                                                              

                                                                <h3>{{ liste_outil_web.nom }} </h3>
                                                                <small><b>Thème: {{ liste_outil_web.thematique}}</b></small>
                                                                <p>{{ liste_outil_web.descriptif }} </p>
                                                              
                                                              
                                                                {% if app.session.has('email') %}
                                                      
                                                                        <a href="{{ path('outils_qhse_web_periode_essais', {'id': liste_outil_web.id}) }}" class="btn btn-primary">Demander une période d'essais</a>

                                                                {% else %}

                                                                         <a href="{{ path('espace_login_nouveau') }}" class="btn btn-success" >Demander une période d'essais</a>
                                                         
                                                                 {% endif %}


                                                                </div>
                                                    </div>

                                                    <div class="col-md-6" style="margin-top:20px">
                                                   
                                                   
                                                           <video width="640" height="360" controls>
                                                                <source src="/uploads/{{ liste_outil_web.LienVideo }}" type="video/mp4">
                                                                Your browser does not support the video tag.
                                                                </video>

                                                    </div>

                                                     </div>


                                       {% endfor %}   


                        
                            </div>
      {% endblock %}