
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="shortcut icon" href="{{asset('assets/images/favicon.png')}}" type="image/x-icon">

       <meta name="description" content="Votre partenaire de confiance dans le développement d'outils web et VBA, spécialisé dans l'automatisation de processus et l'optimisation des opérations. Nous offrons des solutions sur mesure pour répondre à vos besoins en matière de développement logiciel, d'analyse de données et d'intégration de bases de données. Avec une solide expertise dans les normes ISO 9001, ISO 45001 et ISO 14001, nous vous accompagnons dans la digitalisation de vos systèmes de management de la qualité, de la santé et sécurité au travail">
       <meta name="keywords" content="Développement web, Outils web, VBA, Programmation web, Développement d'applications web, Automatisation de processus, Microsoft Excel VBA, Solutions personnalisées, Intégration de bases de données, Développement sur mesure, Macros Excel, Applications métier, Optimisation des processus, Développement logiciel, Analyse et optimisation de données, Interface utilisateur conviviale, Expertise technique, Support technique, Solutions innovantes, Consultation en développement web, ISO 9001, ISO 14001, ISO 45001">


     <title>Softexcellence - Developpement d'outils qualité sécurité environnement sur mesure</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/bootstrap-icons.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/templatemo-topic-listing.css')}}" rel="stylesheet">      
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->


            <style>

                .bloc_2{
                text-align:center;
                }

                .cart-icon {
                    height: 20px;
                    padding-left: 20px;
                }


            </style>


    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="bi-back"></i>
                        <span>Softexcellence</span>
                    </a>
                    
                    <!--
                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                    -->
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                  <a class="nav-link" href="{{path('accueil_page')}}"> Accueil</a>
                            </li>
                         

                

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('outils_qhse_vba')}}">OUTILS VBA</a>
                                    </li>

                  
                       

             


           

                                    <li class="nav-item">
                                    <a class="nav-link" href="{{path('outils_qhse_web')}}">SOLUTIONS WEB</a>
                                     </li>

              

                     
                         
                         {% if app.session.get('email') %}

                               <li class="nav-item">
                                  <a class="nav-link" href="{{path('app_mon_compte')}}">MON COMPTE</a>
                            </li> 

                                <li class="nav-item">
                                  <a class="nav-link" href="{{path('deconnexion')}}">DECONNEXION</a>
                            </li> 

                              


                         {% else %}

                          <li class="nav-item">
                                  <a class="nav-link" href="{{path('inscription')}}">S'INSCRIRE</a>
                         </li>

                           <li class="nav-item">
                                  <a class="nav-link" href="{{path('espace_login_nouveau')}}">SE CONNECTER</a>
                            </li>  


                         {% endif %}
                        

                           
                             
                              <li class="nav-item">
                             <a class="nav-link" href="{{path('app_panier')}}"><img src="{{asset('assets/images/shopping-cart.png')}}" class="cart-icon" alt="Mon panier" /></a>
                            </li>                            

                            <li class="nav-item dropdown">
                              <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a> --> 
                            
                            <!--
                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item" href="topics-listing.html">Topics Listing</a></li>

                                    <li><a class="dropdown-item" href="contact.html">Contact Form</a></li>
                                </ul>
                            -->
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
            

            <section class="hero-sectionbase d-flex justify-content-center align-items-center" >
              
            </section>              

        </main>



        <section class="contact-section section-padding section-bg" id="section_5">




         {% block content %}

                                            
                                            
                                                    
                                                                              
                                            
                                            
          {% endblock %}








  </section>

                  



<footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="index.html">
                            <i class="bi-back"></i>
                            <span>Softexcellence</span>
                        </a>
                    </div>
           
            <!--
                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                        </ul>
                    </div>
           -->
                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Contact</h6>

                        <p class="text-white d-flex mb-1">
                        <!--    <a href="tel: 305-240-9671" class="site-footer-link">
                                Tel: 06 66 99 30 63
                            </a>
                        -->
                        </p>

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                Mail: contact@softexcellence.com
                            </a>
                        </p>
                    </div>

                   
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <div class="dropdown">
                        <!--   <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">     --> 
                            <a href="{{path('mention_legales')}}">Mention Legales</a>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Thai</button></li>

                                <li><button class="dropdown-item" type="button">Myanmar</button></li>

                                <li><button class="dropdown-item" type="button">Arabic</button></li>
                            </ul>
                        </div>
                    

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2023 Softexcellence. Tous les droits réservés.
                       <!-- <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a></p>  -->
                        
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
         <script src="{{asset('assets/js/jquery.min.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.sticky.js')}}"></script>
     <!--   <script src="{{asset('assets/js/click-scroll.js')}}"></script>  -->
        <script src="{{asset('assets/js/custom.js')}}"></script>

    </body>
</html>












